/* Tablet */
@media (max-width: 1024px) {
  .container {
    width: 90%;
    margin: auto;
  }
}

/* Mobile */
@media (max-width: 768px) {

  nav {
    padding: 15px;
  }

  .hero {
    flex-direction: column;
    text-align: center;
    padding-top: 100px;
  }

  .hero h1 {
    font-size: 2.5rem;
  }

  .hero p {
    font-size: 1rem;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}

/* Small Phones */
@media (max-width: 480px) {

  .hero h1 {
    font-size: 2rem;
  }

  .btn {
    width: 100%;
  }
}